
.container-lgn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
    min-height: 100vh; 
  
}
a{
  color: #1f94c2;
}
.create{
  margin-left: 5px;
}
.left-side{
  
    width: 50%;
}

.form-container {
   background-color:#26465394;
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  border-radius: 10px;
    flex-direction: column;
    
    justify-content: center;
   
    width: 64%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
   
    margin-bottom: 5px;
  }
  
  .input-field {
    
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  
  .error-message {
    color: #ff0000; 
    font-size: 0.9rem; 
    animation: pop 0.3s ease forwards; 
    opacity: 0;
  }
  
  @keyframes pop {
    0% {
      transform: scale(0); 
      opacity: 0; 
    }
    80% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1); 
      opacity: 1; 
    }
  }
  label{color: white;}
  .submit-button {
 
    padding: 10px;
    background-color: #1e81a7; 
    width: -webkit-fill-available;
    color: #ffffff; 
    font-size: 16px; 
    border: none; 
   
    font-size: 19px;
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .submit-button:hover {
    background-color: #176685; 
  }
  .error-message {
    color: #ff0000; 
    font-size: 0.9rem; 
    animation: pop 0.3s ease forwards; 
    opacity: 0;
  }
  
  @keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0; 
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }  
  .radio-group{
    display: flex;
    gap: 4rem;
  }